{{!< default}}

{{! Pull data from the post }}
{{#post}}

<section id="main-content" class="flex-content">
    <div class="row">
        <article class="small-12 columns {{post_class}}">
            <section>
                {{content}}
            </section>
        </article>
    </div>
</section>

{{/post}}
